body {
  font-family: "Playfair Display", serif;
}

/* ------- Search for City ------- */
.container {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* ------- Footer ------- */
footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}
