body {
  font-family: "Playfair Display", serif;
}

/* ------- Header ------- */
.title {
  padding: 5px;
  background-image: linear-gradient(to left, #004999, #ffd271);
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}

.weather-icon {
  column-width: 3;
  padding: 0;
}

/* ------- Search for City ------- */
.container {
  margin: 2%;
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.nav-bar {
  width: 20%;
  margin: 8px;
  background-color: #f8f9fa;
}

/* ------- Nav Buttons ------- */
.search-button,
.clear-button {
  display: inline-block;
  border: 2px solid #f8f9fa;
  background-color: #007bff;
  color: #f8f9fa;
  padding: 8px 16px;
  margin: 8px 0;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.search-button:hover,
.clear-button:hover {
  background-color: #0096ff;
  color: black;
}

/* ------- Past Searches ------- */
.past-city {
  border-top: 2px solid black;
}

/* ------- City Buttons ------- */
.past-city button {
  display: block;
  width: 100%;
  margin: 5px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.past-city button:hover {
  background-color: #0096ff;
}

.past-city button:active {
  background-color: #0056b2;
}

.past-city button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* ------- Weather Forecast Display ------- */
.forecast-display {
  width: 75%;
}

/* ------- Current Day ------- */
.current-day {
  display: flex;
  margin-left: 40px;
  justify-content: flex-start;
}

.card-title {
  display: flex;
}

.card-title h2,
.text-top {
  padding: 1%;
  margin: 5px;
  font-weight: bold;
}

/* ------- Predictions ------- */
.forecast-predictions {
  display: flex;
  padding: 8px 16px;
  margin-left: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  font-weight: bold;
}

.future-blocks {
  display: flex;
  margin-left: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ------- Footer ------- */
footer {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  justify-content: center;
  text-align: center;
}
